@use "partials/header";
@use "partials/central-section";
@use "partials/menu";
@use "partials/main-container";
@use "partials/central-panel";
@import "variables/variables";

/* Pour écraser les margin et padding qui sont mis par défaut
par les navigateurs. Le souci est que ce ne sont pas les mêmes
mises par défaut par différentes versions */
* {
  padding: 0;
  margin: 0;
}

%common-menu-entry {
  font-size: 2rem;
  &::before {
    content: "> ";
  }
}

/* Dans le corps de la boucle, on mettra ce que l'on veut voir être répété
 (dans le CSS généré) */
/* Attention à ne jamais oublier de mettre en place ce qui va causer la terminaison
  de la boucle (ie: faire en sorte qu'un jour la condition de terminaison
  s'évalue à false) */
$compteur: 1;
@while ($compteur < $nbr-menu-entries) {
  .entry-#{$compteur} {
    background-color: rgb(random(255), random(255), random(255));
    h4 {
      @extend %common-menu-entry;
    }
  }
  $compteur: $compteur + 1;
}
