$nbr-menu-entries: 4;

$header-height: 10vh;
$header-bg-color: purple;

$aside-width: 220px;
$aside-bg-color: rgb(235, 153, 153);

$card-size: 200px;

$menu-entry-height: 200px;

$shadow-hover-regular: 0 24px 38px 3px rgb(0 0 0 / 14%),
  0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);

$central-section-margin: 30px;
$central-section-width: 80%;
$central-section-bg-color: grey;

$element-bg-color: gold;
$element-margin: 12px;
$element-font-size: 5rem;

$tab-bar-md-screen-height: 10vh;
