@mixin layout-flex-centred($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin layout-size-spacing($width, $height, $margin, $padding) {
  width: $width;
  height: $height;
  margin: $margin;
  padding: $padding;
}
