@import "../variables/variables";
@import "../mixins/mixins";

.central-section {
  @include layout-size-spacing(
    $central-section-width,
    auto,
    $central-section-margin,
    auto
  );
  background-color: $central-section-bg-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .element {
    background-color: $element-bg-color;
    @include layout-size-spacing($card-size, $card-size, $element-margin, auto);
    font-size: $element-font-size;
  }
}
